<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Programming and Solving analytical problems are my arena and that is what I intend to pursue throughout my career. 
    As a skilled, experienced computer science student with extensive knowledge of programming and computer applications 
    along with working experience of 2 years, looking forward to work in cutting-edge competitive industry and challenging 
    work environment to keep up with the emerging trends in the IT sector and conduce the best of my ability.
</div>